<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3371&q=80);">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-4 col-10 py-5">
      <h1>Un petit godet ?</h1>
      <h2 class="text-white">(<%= Cocktail.count %> Recettes)</h2>
      <%= link_to "Partage ta recette", new_cocktail_path ,class: "btn btn-light mb-5"  %>
      <%= form_tag root_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :q %>
        <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
      <% end %>
    </div>
  </div>
</div>

<div class="under-banner">
  <div class="cards px-5">
  <% @cocktails.each do |cocktail| %>
    <div class="card shadow-sm" data-aos="fade-up">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card bg-dark text-white">
          <%= cl_image_tag cocktail.photo.key, height: 200, crop: :fill, class: "card-img-top coveredimg" %>
          <div class="card-img-overlay">
            <h1 class="card-title"><%= cocktail.name %></h1>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <% cocktail.ingredients.each do |ingredient| %>
            <ul class="list-group list-group-flush">
              <% ingredient.doses.each do |dose| %>
                <li class="list-group-item"><%= ingredient.name %> : <%= dose.description %></li>
              <% end %>
            </ul>
          <% end %>
          <%= link_to "Supprimer", cocktail_path(cocktail), method: :destroy, class: "btn btn-danger rounded mt-4" %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
</div>



