<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3371&q=80);">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <h1>Un petit godet ?</h1>
      <h2 class="text-white">(<%= Cocktail.count %> Recettes)</h2>
      <%= link_to "Partage ta recette", new_cocktail_path ,class: "btn btn-light mb-5"  %>
      <%= form_tag root_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :q %>
        <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
      <% end %>
    </div>
    <div class="col-4 p-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card bg-dark text-white">
            <%= image_tag "https://images.unsplash.com/photo-1526948128573-703ee1aeb6fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80", alt: "Second slide", class: "d-block w-100 card-img-top", style: 'object-fit:cover;width=100%' %>
            <div class="card-img-overlay">
              <h1 class="card-title text-white">Pas mal ce mojito, il faudra que je le dise à Michel</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-dark text-white">
            <%= image_tag "https://images.unsplash.com/photo-1554260570-9140fd3b7614?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80", alt: "First slide", class: "d-block w-100 card-img-top", style: 'object-fit:cover' %>
            <div class="card-img-overlay">
              <h1 class="card-title text-white">ALLO Michel ? T'as testé le Bloody Mary ?</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-dark text-black text-white">
            <%= image_tag "https://images.unsplash.com/photo-1554774853-b415df9eeb92?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80", alt: "Second slide", class: "d-block w-100 card-img-top", style: 'object-fit:cover;width=100%' %>
            <div class="card-img-overlay">
              <h1 class="card-title text-white">Hahaha il est con ce Michel.</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>
</div>

<div class="under-banner">
  <div class="cards px-5">
  <% @cocktails.each do |cocktail| %>
    <div class="card shadow-sm" data-aos="fade-up">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card bg-dark text-white">
          <%= cl_image_tag cocktail.photo.key, height: 200, crop: :fill, class: "card-img-top coveredimg" %>
          <div class="card-img-overlay">
            <h1 class="card-title"><%= cocktail.name %></h1>
          </div>
        </div>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <% cocktail.ingredients.each do |ingredient| %>
            <ul class="list-group list-group-flush">
              <% ingredient.doses.each do |dose| %>
                <li class="list-group-item"><%= ingredient.name %> : <%= dose.description %></li>
              <% end %>
            </ul>
          <% end %>
          <%= link_to "Supprimer", cocktail_path(cocktail), method: :destroy, class: "btn btn-danger rounded mt-4" %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
</div>



