<div class="background">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="p-5 bg-light rounded shadow-sm mt-5">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Create a cocktail!", class: "btn btn-success" %>
        <% end %>
        <%= link_to "Back to cocktails", root_path, class: "btn btn-primary mt-5" %>
      </div>
    </div>
  </div>
</div>
