<div class="row justify-content-center align-items-start mt-5">
  <div class="col-xl-6 col-12">
    <div class="under-banner">
      <div class="card shadow-sm" style="width: 25 * $;">
        <div class="card bg-dark text-white">
          <%= cl_image_tag @cocktail.photo.key, height: 500, crop: :scale, class: "card-img-top coveredimg" %>
          <div class="card-img-overlay">
            <h1 class="card-title"><%= @cocktail.name %></h1>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            <% @cocktail.ingredients.each do |ingredient| %>
              <ul class="list-group list-group-flush mx-5">
                <% ingredient.doses.each do |dose| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-5">
                    <p><%= ingredient.name %> : <%= dose.description %></p>
                    <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                    <i class="fas fa-trash"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-10">
    <div class="p-5 bg-light rounded shadow-sm mt-5">
      <h1 class="mb-5">Add an ingredient</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= select_tag "ingredient", options_from_collection_for_select(Ingredient.all, :id, :name, @ingredient), class: "select2 w-100" %>
      <%= f.input :description, class: "m-5 p-5" %>
      <%= f.submit "Add an ingredient!", class: "btn btn-success" %>
      <% end %>
      <%= link_to "Back to cocktails", root_path, class: "btn btn-primary mt-5" %>
    </div>
  </div>
</div>




